#divFrameParent *{text-align:center!important;font-size:1em;font-family:tahoma!important;}
#divFrameParent p{padding-bottom:0px!important}

.billmate_button{
	text-align: center!important;
	width: 84%!important;
	padding: 0.5em!important;
	cursor:pointer!important;
	border-radius: 1em!important;
	border: 0px!important;
	background-color: #4EB0D8!important;
	color: #fff!important;
	font-weight: bold!important;
	word-break:break-word!important;
	margin-top:1em!important;
}
.linktag:hover{
	color: #10b6db!important;
}
.linktag{
	font-size: 0.8em!important;
	color: #78797b!important;
	text-decoration: none!important;
}
.billmate_button:hover{
	background-color:#444444!important;
}
#divFrameParent .heading {
    color: #000000!important;
    font-size: 13px!important;
    font-weight: bold!important;
    margin-bottom: 15px!important;
    padding: 8px!important;
}
